<div class="login-c-form-wrapper">
  <form #loginForm='ngForm' (ngSubmit)='loginSubmit(loginForm)'>
    <label for='username'>Username</label>
    <br>
    <input type='text' name='username' [(ngModel)]='username'>
    <br>
    <label for='password'>Password</label>
    <br>
    <input type='password' name='password' [(ngModel)]='password'>
    <br>
    <button type='submit'>Submit</button>
    <div *ngIf='submitMessage'>
      <label class='error-message'>
        {{submitMessage}}
      </label>
    </div>
  </form>
</div>